<div class="border-form-div">
  <%= link_to "Download CSV Template", '/phone_template.csv' %>

  <br />
  <%= link_to "Dashboard", '/admin' %>

  <br />
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</div>